@using WulingWebApplication.Models
@model IEnumerable<AppUser>
@{
    ViewBag.Title = "Index";
}

<div class="panel panel-primary col-lg-offset-1 col-lg-10">
    <div class="panel-heading">
        用户账户
    </div>
    <table class="table table-striped " >

        <tr><th>ID</th><th>用户名</th><th>电子邮箱</th><th></th></tr>
        @if (Model.Count() == 0)
        {
            <tr><td colspan="4" class="text-center">没有用户账户</td></tr>
        }
        else
        {
            foreach (AppUser user in Model)
            {
                <tr>
                    <td>@user.Id</td>
                    <td>@user.UserName</td>
                    <td>@user.Email</td>
                    <td>
                        @using (Html.BeginForm("Delete", "Admin",
                                new { id = user.Id }))
                        {
                            @Html.ActionLink("编辑", "Edit", new { id = user.Id },
                                    new { @class = "btn btn-primary btn-xs" })
                            <button class="btn btn-danger btn-xs" type="submit">
                                删除
                            </button>
                        }
                    </td> 
                </tr>
            }
        }
    </table>
    @Html.ActionLink("新建用户", "Create", null, new { @class = "btn btn-primary" })
</div>

